<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.resale.background.mapper.MerchantDetailMapper" >
  <resultMap id="BaseResultMap" type="com.resale.background.pojo.MerchantDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="invitation_code" property="invitationCode" jdbcType="VARCHAR" />
    <result column="is_commission" property="isCommission" jdbcType="CHAR" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="operating_status" property="operatingStatus" jdbcType="CHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="opening_time" property="openingTime" jdbcType="TIMESTAMP" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="floor_price" property="floorPrice" jdbcType="DECIMAL" />
    <result column="shipping_fee" property="shippingFee" jdbcType="DECIMAL" />
    <result column="task_time" property="taskTime" jdbcType="VARCHAR" />
    <result column="is_personage" property="isPersonage" jdbcType="CHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="id_card_url" property="idCardUrl" jdbcType="VARCHAR" />
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR" />
    <result column="margin" property="margin" jdbcType="DECIMAL" />
    <result column="margin_status" property="marginStatus" jdbcType="CHAR" />
    <result column="dimensionality" property="dimensionality" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, merchant_name, merchant_code, invitation_code, is_commission, logo_url, telephone, 
    operating_status, phone, opening_time, close_time, floor_price, shipping_fee, task_time, 
    is_personage, id_card, id_card_url, business_license_url, margin, margin_status, 
    dimensionality, longitude, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.resale.background.pojo.MerchantDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_merchant_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_merchant_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_merchant_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.resale.background.pojo.MerchantDetailExample" >
    delete from t_merchant_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.resale.background.pojo.MerchantDetail" >
    insert into t_merchant_detail (id, merchant_name, merchant_code, 
      invitation_code, is_commission, logo_url, 
      telephone, operating_status, phone, 
      opening_time, close_time, floor_price, 
      shipping_fee, task_time, is_personage, 
      id_card, id_card_url, business_license_url, 
      margin, margin_status, dimensionality, 
      longitude, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{merchantName,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR}, 
      #{invitationCode,jdbcType=VARCHAR}, #{isCommission,jdbcType=CHAR}, #{logoUrl,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{operatingStatus,jdbcType=CHAR}, #{phone,jdbcType=VARCHAR}, 
      #{openingTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{floorPrice,jdbcType=DECIMAL}, 
      #{shippingFee,jdbcType=DECIMAL}, #{taskTime,jdbcType=VARCHAR}, #{isPersonage,jdbcType=CHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{idCardUrl,jdbcType=VARCHAR}, #{businessLicenseUrl,jdbcType=VARCHAR}, 
      #{margin,jdbcType=DECIMAL}, #{marginStatus,jdbcType=CHAR}, #{dimensionality,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.resale.background.pojo.MerchantDetail" >
    insert into t_merchant_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="invitationCode != null" >
        invitation_code,
      </if>
      <if test="isCommission != null" >
        is_commission,
      </if>
      <if test="logoUrl != null" >
        logo_url,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="operatingStatus != null" >
        operating_status,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="openingTime != null" >
        opening_time,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
      <if test="floorPrice != null" >
        floor_price,
      </if>
      <if test="shippingFee != null" >
        shipping_fee,
      </if>
      <if test="taskTime != null" >
        task_time,
      </if>
      <if test="isPersonage != null" >
        is_personage,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="idCardUrl != null" >
        id_card_url,
      </if>
      <if test="businessLicenseUrl != null" >
        business_license_url,
      </if>
      <if test="margin != null" >
        margin,
      </if>
      <if test="marginStatus != null" >
        margin_status,
      </if>
      <if test="dimensionality != null" >
        dimensionality,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null" >
        #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="isCommission != null" >
        #{isCommission,jdbcType=CHAR},
      </if>
      <if test="logoUrl != null" >
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="operatingStatus != null" >
        #{operatingStatus,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openingTime != null" >
        #{openingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="floorPrice != null" >
        #{floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="shippingFee != null" >
        #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="taskTime != null" >
        #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="isPersonage != null" >
        #{isPersonage,jdbcType=CHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardUrl != null" >
        #{idCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null" >
        #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="margin != null" >
        #{margin,jdbcType=DECIMAL},
      </if>
      <if test="marginStatus != null" >
        #{marginStatus,jdbcType=CHAR},
      </if>
      <if test="dimensionality != null" >
        #{dimensionality,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.resale.background.pojo.MerchantDetailExample" resultType="java.lang.Integer" >
    select count(*) from t_merchant_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_merchant_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.merchantName != null" >
        merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantCode != null" >
        merchant_code = #{record.merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="record.invitationCode != null" >
        invitation_code = #{record.invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isCommission != null" >
        is_commission = #{record.isCommission,jdbcType=CHAR},
      </if>
      <if test="record.logoUrl != null" >
        logo_url = #{record.logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingStatus != null" >
        operating_status = #{record.operatingStatus,jdbcType=CHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.openingTime != null" >
        opening_time = #{record.openingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.closeTime != null" >
        close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.floorPrice != null" >
        floor_price = #{record.floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingFee != null" >
        shipping_fee = #{record.shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="record.taskTime != null" >
        task_time = #{record.taskTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isPersonage != null" >
        is_personage = #{record.isPersonage,jdbcType=CHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardUrl != null" >
        id_card_url = #{record.idCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseUrl != null" >
        business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.margin != null" >
        margin = #{record.margin,jdbcType=DECIMAL},
      </if>
      <if test="record.marginStatus != null" >
        margin_status = #{record.marginStatus,jdbcType=CHAR},
      </if>
      <if test="record.dimensionality != null" >
        dimensionality = #{record.dimensionality,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_merchant_detail
    set id = #{record.id,jdbcType=INTEGER},
      merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      merchant_code = #{record.merchantCode,jdbcType=VARCHAR},
      invitation_code = #{record.invitationCode,jdbcType=VARCHAR},
      is_commission = #{record.isCommission,jdbcType=CHAR},
      logo_url = #{record.logoUrl,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      operating_status = #{record.operatingStatus,jdbcType=CHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      opening_time = #{record.openingTime,jdbcType=TIMESTAMP},
      close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      floor_price = #{record.floorPrice,jdbcType=DECIMAL},
      shipping_fee = #{record.shippingFee,jdbcType=DECIMAL},
      task_time = #{record.taskTime,jdbcType=VARCHAR},
      is_personage = #{record.isPersonage,jdbcType=CHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      id_card_url = #{record.idCardUrl,jdbcType=VARCHAR},
      business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      margin = #{record.margin,jdbcType=DECIMAL},
      margin_status = #{record.marginStatus,jdbcType=CHAR},
      dimensionality = #{record.dimensionality,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.resale.background.pojo.MerchantDetail" >
    update t_merchant_detail
    <set >
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null" >
        invitation_code = #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="isCommission != null" >
        is_commission = #{isCommission,jdbcType=CHAR},
      </if>
      <if test="logoUrl != null" >
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="operatingStatus != null" >
        operating_status = #{operatingStatus,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openingTime != null" >
        opening_time = #{openingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="floorPrice != null" >
        floor_price = #{floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="shippingFee != null" >
        shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="taskTime != null" >
        task_time = #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="isPersonage != null" >
        is_personage = #{isPersonage,jdbcType=CHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardUrl != null" >
        id_card_url = #{idCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null" >
        business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="margin != null" >
        margin = #{margin,jdbcType=DECIMAL},
      </if>
      <if test="marginStatus != null" >
        margin_status = #{marginStatus,jdbcType=CHAR},
      </if>
      <if test="dimensionality != null" >
        dimensionality = #{dimensionality,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resale.background.pojo.MerchantDetail" >
    update t_merchant_detail
    set merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      invitation_code = #{invitationCode,jdbcType=VARCHAR},
      is_commission = #{isCommission,jdbcType=CHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      operating_status = #{operatingStatus,jdbcType=CHAR},
      phone = #{phone,jdbcType=VARCHAR},
      opening_time = #{openingTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      floor_price = #{floorPrice,jdbcType=DECIMAL},
      shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      task_time = #{taskTime,jdbcType=VARCHAR},
      is_personage = #{isPersonage,jdbcType=CHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      id_card_url = #{idCardUrl,jdbcType=VARCHAR},
      business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      margin = #{margin,jdbcType=DECIMAL},
      margin_status = #{marginStatus,jdbcType=CHAR},
      dimensionality = #{dimensionality,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>